.booklistItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    margin: 10px 0;
    padding: 5px 5px;
}

.booklistItem:hover {
    background-color: lightblue;
}

.delBtn {
    background-color: rgb(235, 226, 226);
    color: red;
    padding: 10px 20px;
    border: 1px solid red;
    border-radius: 10px;
}

.favoriteIcon {
    color: rgb(225, 225, 44);
    font-size: 25px;
    margin: 0 10px;
}